[submodule "lib/permit2"]
	path = lib/permit2
	url = https://github.com/Uniswap/permit2
[submodule "lib/uniswap-v4-core"]
	path = lib/uniswap-v4-core
	url = https://github.com/velodrome-finance/uniswap-v4-core
